html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: rosybrown;
}


#layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 300px 300px;
  
}

#secret-div {
  min-height: 40px;
  max-width: 900px;
  background-color: green;
  color: yellow;
  font-weight: 700;
}

div {
  border: solid;
}

.column {
  display: flex;
  flex-direction: column;
  border: solid limegreen;
  min-height: 600px;
}

.major-div {
  border: solid pink;
  min-height: 300px;
}

.hand {
  margin-left: 5%;
  margin-top: 5%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.card {
  border: solid green;
  background-color: white;
  border-radius: 20%;
  height: 150px;
  width: 100px;
  text-align: center;
  font-size: 18px;
  margin-right: 4px;
}

#deck-div {
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: flex-start;
  border: dotted cadetblue;
}

.extra-cards {
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  }

.score {
  font-size: 36px;
}

button {
  font-size: 22px;
  font-weight: 500;
  height: 25%;
  width: 100%;
  color: yellow;
}


#deal-button {
  visibility: visible;

  background-color: limegreen;
}

#hit-button {
  visibility: hidden;
  background-color: lawngreen
}
#stand-button{
  visibility: hidden;
  background-color: cadetblue
}

#new-game-button {
  background-color: deeppink;
  visibility: hidden;
  height: 25%;
  width: 100%;
  
}


@media (max-width: 450px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
}
